@import '../../landing-page.component.scss';

:host {
    display: flex;
    flex-direction: column;
    width: 311px;
}

.button-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 113px;
}