<app-common-header [headerConfig]="headerConfig"></app-common-header>
<form class="form-container" [formGroup]="loginForm">
    <section class="form-field-container">
        <img src="{{inputsConfig.email.iconLeftSrc}}" alt="{{inputsConfig.email.label}}">
        <div class="form-field-wrapper">
            <label for="{{inputsConfig.email.label}}">{{inputsConfig.email.label}}</label>
            <input type="{{inputsConfig.email.type}}" name="{{inputsConfig.email.label}}"
                id="{{inputsConfig.email.label}}" placeholder="{{inputsConfig.email.placeholder}}"
                formControlName="{{inputsConfig.email.fControlName}}">
            @if (loginForm.get(inputsConfig.email.fControlName)?.touched &&
            loginForm.get(inputsConfig.email.fControlName)?.invalid) {
            @if(loginForm.get(inputsConfig.email.fControlName)?.hasError('required')) {
            <small>{{inputsConfig.email.label}} is required</small>
            }

            @if(loginForm.get(inputsConfig.email.fControlName)?.hasError('email')) {
            <small>E-mail is not valid</small>
            }
            }
        </div>
    </section>
    <section class="form-field-container password-container">
        <div class="form-password-wrapper">
            <img src="{{inputsConfig.password.iconLeftSrc}}" alt="{{inputsConfig.password.label}}">
            <div class="form-field-wrapper">
                <label for="{{inputsConfig.password.label}}">{{inputsConfig.password.label}}</label>
                <input type="{{inputsConfig.password.type}}" name="{{inputsConfig.password.label}}"
                    id="{{inputsConfig.password.label}}" placeholder="{{inputsConfig.password.placeholder}}"
                    formControlName="{{inputsConfig.password.fControlName}}">
                @if (loginForm.get(inputsConfig.password.fControlName)?.touched &&
                loginForm.get(inputsConfig.password.fControlName)?.invalid) {

                @if(loginForm.get(inputsConfig.password.fControlName)?.hasError('required')) {
                <small>{{inputsConfig.password.label}} is required</small>
                }
                @if(loginForm.get(inputsConfig.password.fControlName)?.hasError('minlength')) {
                <small>Password should contain at least 6 digits</small>
                }
                }
            </div>
        </div>
        <img src="{{inputsConfig.password.iconRightSrc}}" alt="{{inputsConfig.password.label}}"
            (click)="showHidePassword()">
    </section>
</form>
<div class="button-container">
    <app-common-button class="bg-orange" [config]="loginBtnConfig" [disableBtn]="!!loginForm.invalid"
        (notifyClick)="handleLoginClick()"></app-common-button>
    <app-common-button class="bg-white" [config]="forgotBtnConfig"
        (notifyClick)="handleForgotPasswordClick()"></app-common-button>
</div>
<app-footer [config]="footerConfig"></app-footer>