<app-common-header [headerConfig]="headerConfig"></app-common-header>
<form [formGroup]="loginForm">
    <article>
        <img src="" alt="">
        <div>
            <label for="{{inputsConfig.email.label}}">{{inputsConfig.email.label}}</label>
            <input type="{{inputsConfig.email.type}}" name="{{inputsConfig.email.label}}"
                id="{{inputsConfig.email.label}}" placeholder="{{inputsConfig.email.placeholder}}"
                formControlName="{{inputsConfig.email.fControlName}}">
            @if (loginForm.get(inputsConfig.email.fControlName)?.touched &&
            loginForm.get(inputsConfig.email.fControlName)?.invalid) {
            @if(loginForm.get(inputsConfig.email.fControlName)?.hasError('required')) {
            <small>{{inputsConfig.email.label}} is required</small>
            }

            @if(loginForm.get(inputsConfig.email.fControlName)?.hasError('email')) {
            <small>E-mail is not valid</small>
            }
            }
        </div>
    </article>
</form>