@import '../../../assets/styles/colors';

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 20px;

    small {
        color: red;
    }

    .password-container {
        justify-content: space-between;

        img {
            cursor: pointer;
        }
    }

    .form-password-wrapper {
        display: flex;
        gap: 18px;
    }

    .form-field-container {
        display: flex;
        border: 1px solid $input-field-border;
        border-radius: 8px;
        gap: 18px;
        padding: 15px 20px;
    }

    .form-field-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        font-size: 13px;

        input {
            border: none;
        }
    }
}