/* You can add global styles to this file, and also import other style files */
html {
    // max-width: 375px;
    // max-height: 812px;
}

* {
    font-family: 'Tenor Sans', sans-serif;
}

body {
    background-image: url("src/assets/images/grayscale-plant.svg");
    background-repeat: no-repeat;
    background-position: top 0 right 0;
    padding: 1rem 2rem;
}